<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Home Page User is <%= name %></h2>
    
    <% urls.forEach(item=> { %>

        <li>  <%= item.shortenerId %> </li>


    <% }) %>
</body>
</html>